Repository data-science-extensions/toolbox-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, ty

.pre-commit-config.yaml:

# See https://pre-commit.com for more info
# See https://pre-commit.com/hooks.html for more hooks
# See https://www.youtube.com/watch?v=psjz6rwzMdk for how-to on pre-commits

repos:
  # Fixes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      # File name fixes
      - id: check-case-conflict

      # Generic file fixes
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer

      # File-type specific fixes
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args:
          - "--unsafe"

      # Python-specific fixes
      - id: debug-statements
        language_version: python3

      # Git fixes
      - id: no-commit-to-branch
        args:
          - "--branch=main"

  # Linter
  - repo: https://github.com/psf/black
    rev: "25.12.0"
    hooks:
      - id: black
        language_version: python3.13
        args:
          - "--config=pyproject.toml"
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.20.0"
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - "black>=23.3"

  # Reorder Python imports
  - repo: https://github.com/pycqa/isort
    rev: "7.0.0"
    hooks:
      - id: isort
        name: isort (python)
        args:
          - "--settings-file=pyproject.toml"

  # Find any outdated syntax and replace with modern equivalents
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.21.2"
    hooks:
      - id: pyupgrade
        name: Upgrade Python features
        args:
          - "--py39-plus"

  # Check spelling
  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    - id: codespell
      additional_dependencies:
        - tomli
      args:
        - "--toml=pyproject.toml"
        - "--skip=*.js,*.html,*.css,./docs/assets/coverage/*"

  # Remove unused import statements
  - repo: https://github.com/hadialqattan/pycln
    rev: "v2.6.0"
    hooks:
      - id: pycln
        args:
          - "--all"

  # Check uv configs
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.18"
    hooks:
      - id: uv-lock
      - id: uv-sync
        # args:
        #   - "--all-groups"

  # Check docstrings
  - repo: https://github.com/data-science-extensions/docstring-format-checker
    rev: "v1.9.0"
    hooks:
      - id: docstring-format-checker
        name: Docstring Format Checker
        args:
          - "--config=pyproject.toml"
          - "--output=list"
          - "--check"

  # Everything run locally
  - repo: local
    hooks:

      # Run Pylint
      - id: pylint
        name: pylint
        entry: pipenv run pylint
        language: system
        types: [python]
        args:
          - "--rcfile=pyproject.toml"
          - "-rn" # Only display messages
          - "-sn" # Don't display the score

      - id: ty
        name: ty-check
        entry: uv run ty check ./src/toolbox_python
        language: python
        types: [python]
        pass_filenames: true
        exclude: ^src/tests/.*$

Eliminate redundant scripts from the `pyproject.toml` file, prefer the `src/utils/scripts.py` module
  pyproject.toml
Due: none

Fix missing `complexipy` dependency
  pyproject.toml
Due: none

Add missing typehints to the functions and methods in the `dictionaries` module
  src/toolbox_python/dictionaries.py
Due: pylint, ty

Fix docsting error in the `dictionaries` module - Related to the use of `*` in the Params section
  src/toolbox_python/dictionaries.py
Due: pylint, ty

In the `lists` module, fix types in docstrings to match the function signatures
  src/toolbox_python/lists.py
Due: pylint, ty

Fix tuple type hint for nested parameters - Update the `tuple()` class type hint within the `name_func_nested_list()` function to include an ellipsis for variable-length support.
  src/tests/setup.py
Due: pylint

Fix formatting
  src/tests/test_classes.py
Due: pylint

Remove Python version upper bound - Update `requires-python` to remove the `<4.0` restriction - Standardise the configuration to improve forward compatibility
  pyproject.toml
Due: none

Remove redundant `Makefile`
  Makefile
Due: none

Fix misaligned parameter docs and function signatures
  src/toolbox_python/output.py
  src/toolbox_python/retry.py
Due: pylint, ty

Remove redundant metadata attributes - Remove `__license__`, `__url__`, and `__description__` variables - Organise the package root by removing secondary metadata attributes
  src/toolbox_python/__init__.py
Due: pylint, ty

Refactor CI workflow with updated actions and env var
  .github/workflows/ci.yml
Due: none

Delete `requirements/` directory in preference for `pyproject.toml` config
  requirements/dev.txt
  requirements/docs.txt
  requirements/root.txt
  requirements/test.txt
Due: none

Update CI workflow to run checks with specific script
  .github/workflows/ci.yml
Due: none

Fix typo in environment variable name
  .github/workflows/ci.yml
Due: none

Add explicit return to `print_or_log_output()` - Optimise function readability and ensure explicit return behaviour for the `print_or_log_output()` function.
  src/toolbox_python/output.py
Due: pylint, ty

Fix typo
  src/toolbox_python/checkers.py
Due: pylint, ty

Fix missing `.__name__` attribute
  src/toolbox_python/checkers.py
Due: pylint, ty
